    <h2><%= deck.name %></h2>
    <div><h3>List:</h3> <%= deck.decklist %></div>
    <div><h3>Description:</h3> <%= deck.description %></div>

    <div><%= link_to 'Edit Deck', edit_deck_path(deck) %></div>

    <%= link_to "Comment on This Deck", new_deck_comment_path(@deck) %>

    <h2>Comments on This Deck:</h2>
    <% deck.comments.each do |c| %>
        <h3><%= c.user.name %> says, </h3>
        <div><%= c.content %></div>
        <% end %>
