<%= form_for @deck do |f|%>

      <p><%= f.label :name %>
      <%= f.text_field :name %>
      </p>

      <p><%= f.label :decklist %>
      <%= f.text_area :decklist %></p>

      <p><%= f.label :description %>
      <%= f.text_area :description %></p>
 
      <%= f.submit %> 
    <% end %>