<%= form_for deck do |f|%>

      <p><%= f.label :name %>
      <%= f.text_field :name %>
      </p>

      <p><%= f.label :archetype_name %>
      <%= f.text_field :archetype_name %></p>

      <p><%= f.label :decklist %> 
      <%= f.text_area :decklist %></p>

      <p><%= f.label :description %>
      <%= f.text_area :description %></p>

      <%= f.hidden_field :user_id, value: current_user.id %>
 
      <%= f.submit %> 
    <% end %>