<% if @current_user == @user %>
<h1> <%= @user.name %> </h1>
<h3> <%= @user.email %> </h3>

<h3>Your Decks:</h3>
<ul>
<% Deck.creator(@user.id).each do |d| %>
    <li><%= link_to d.name, user_deck_path(@user, d) %></li>
    <% end %>
    </ul>

<h3>Comments on Your Decks:</h3>

<ul>
<% @user.decks.each do |deck| %>
    <% deck.comments.each do |c| %>
    <li><%= link_to c.content.first(30)+"...", user_comment_path(@user, c) %> on <%= link_to c.deck.name, deck_path(c.deck)%></li>
    <% end %>
    <% end %>
    </ul>

<h3>Your Archetypes:</h3>

<% uniq_archs = @user.archetypes.uniq %>
<ol>
<% uniq_archs.each do |a| %>
    <li>You have posted to the <%= a.name %> archetype with these decks: </li>
    <ul>
    <% a.decks.each do |d| %>
        <% if d.user_id == current_user.id %>
            <li><%= d.name %></li>
            <% end %>
            <% end %>
            </ul>
            <% end %>
            </ol>

<div><%= link_to "Create A New Deck", new_user_deck_path(@user) %></div>

<% else %>

<h1><%= @user.name %>'s Page</h1>

Decks Posted by <%= @user.name %>:
<ul>
<% @user.decks.each do |d| %>
    <li><%= link_to d.name, d %></li>
    <% end %>
    </ul>

    Comments Made by <%= @user.name %>:
    <ul>
    <% Comment.creator(@user.id).each do |c| %>
        <li><%= link_to c.content.first(30), c %>, on <%= link_to c.deck.name, c.deck %></li>
        <% end %>
        </ul>

        <% end %>
