<h1> <%= @user.username %> </h1>

<div><%= link_to "My Decks", user_decks_path(@user) %></div>
<h3>Your Decks</h3>

<ul>
<% @user.decks.each do |d| %>
    <li><%= link_to d.name, user_deck_path(@user, d) %></li>
    <% end %>
    </ul>

    <h3> Your Commented Decks </h3>
    <ul>
<% @user.decks.commented.each do |d| %>
    <li><%= link_to d.name, user_deck_path(@user, d) %></li>
    <% end %>
    </ul>

<h3>Comments on Your Decks</h3>

<ul>
<% @user.comments.each do |c| %>
    <li><%= link_to c.content, user_comment_path(@user, c) %>, on <%= c.deck.name %></li>
    <% end %>
    </ul>

<h3>My Archetypes</h3>

<% uniq_archs = @user.archetypes.uniq %>
<ol>
<% uniq_archs.each do |a| %>
    <li>You have posted to the <%= a.name %> archetype with these decks: </li>
    <ul>
    <% a.decks.each do |d| %>
        <% if d.user_id == current_user.id %>
            <li><%= d.name %></li>
            <% end %>
            <% end %>
            </ul>
            <% end %>
            </ol>

<div><%= link_to "Create A New Deck", new_user_deck_path(@user) %></div>

