<!DOCTYPE html>
<html>
  <head>
    <title>DeckPoster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to "Welcome Page",'/welcome' %>
  <%= link_to "Logout", '/logout' %>

    <%= yield %>
  </body>
</html>
